---
import type { GetStaticPaths } from "astro";
import Layout from '../layouts/Layout.astro';
import directus from '../lib/directus';
import { readSingleton, readItems, readItem } from "@directus/sdk";

const visi = await directus.request(readSingleton("visi"))
const kurikulum = await directus.request(readSingleton("kurikulum"));

const benefit = await directus.request(readItems("benefit"));
const benefitLogo = benefit.map((b)=> ({
	...b,
	logoUrl: `http://localhost:8055/assets/${b.logoBenefit}`,
}));

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout judul={visi.judul}>
	<main>
		<!-- Benefit -->
		 <div>
			<ul>
				{benefitLogo.map((b)=>(
					<li>
						<img src={b.logoUrl} alt="Logo Benefit" width="50" />
						<h1>{b.judul}</h1>
						<p>{b.desc}</p>
					</li>
				))}
			</ul>
		 </div>

		<!-- Visi -->
		<div>
			<h1>{visi.judul}</h1>
			<p>{visi.desc}</p>
		</div>

		<!-- Kurikulum -->
		<div>
			<h1>{kurikulum.judul}</h1>
			<p>{kurikulum.desc}</p>
		</div>
	</main>
</Layout>
